.loading {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  margin-top: 5rem;
}
.results {
  margin-top: 5rem;

  .results-header {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
  }

  .unknown {
    font-style: italic;
  }
  .no-results {
    font-size: 1.5rem;
  }
}
