<ng-container *ngIf="{ login: login$ | async } as result">
  <form [formGroup]="loginGroup" autocomplete="off">
    <p>
      <label for="email">Email Address</label>
      <input type="email" id="email" formControlName="email" autocomplete="" />
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" autocomplete="current-password" />
    </p>
    <p class="actions">
      <button type="submit" [disabled]="loginGroup.invalid" (click)="login()">Login</button>
      <a ui-link routerLink="/register">Register</a>
      <a ui-link routerLink="/">Home</a>
    </p>
    <p>
      {{ result.login?.msg }}
    </p>
  </form>
</ng-container>
